body {
    background-image: url(../img/BackgroundBory.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#game {
    background-image: url(../img/BackgroundDaDIv.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 476px;
    width: 1250px;
    padding: 0%;
    align-items: center;
    position: relative;
    left: 50px;
    border-radius: 80px;
}
h1{
    text-align: center;
    
}
h2{
    position: relative;
    color: #ff0000;
    top: 75px;
    left: 511px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    -webkit-text-stroke: 1px #050505;
    letter-spacing: 2px;
}

#pote {
    position: relative;
    color:  #fed38e;
    bottom: 135px;
    left: 120px;
    font-size: 50px;

}
.player-slot{
    color: #ccc;
}
#game {
    position: relative;
    display: grid;
    padding-bottom: 65px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#player1 {
    width: 240px;
    height: 50px;
    position: relative;
    left: -200px;
    bottom: 7px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
    font-size: 15px;
}

#player2 {
    width: 240px;
    height: 50px;
    position: relative;
    bottom: 7px;
    right: 25px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#player3 {
    width: 240px;
    height: 50px;
    position: relative;
    left: 975px;
    top: 25px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#player4 {
    width: 240px;
    height: 50px;
    position: relative;
    left: 360px;
    top: 240px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#player5 {
    width: 240px;
    height: 50px;
    position: relative;
    right: 585px;
    top: 240px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#player6 {
    width: 240px;
    height: 50px;
    position: relative;
    bottom: 140px;
    left: 16px;
    border-radius: 80px;
    background-image: url(../img/fundoPlayer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.player-slot {
    padding: 10px;
    border: 1px solid #000000;
    text-align: center;
}
.player-info {
    font-weight: bold;
}
#game-phase {
    color: #ff0000;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    position: relative;
    bottom: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    -webkit-text-stroke: 1px #050505;
}
#next-phase-button {
    text-align: center;
    margin-top: 10px;
    position: relative;
    bottom: 33px;
    right: 420px;
}
.action-button {
    margin: 5px;
    border-radius: 80px;
    background-color: #000000;
    color: #ccc;
}
.botaonextphase{
    border-radius: 80px;
    background-color: #000000;
    color: #ccc;
}
.action-button-player{
    border-radius: 80px;
    background-color: #000000;
    color: #ccc;
}
