h1{
    text-align: center;
}
#game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.player-slot {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.player-info {
    font-weight: bold;
}
#game-phase {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
#next-phase-button {
    text-align: center;
    margin-top: 10px;
}
.action-button {
    margin: 5px;
}